extends layout

block content
  //- If the title is not undefined,
      this is a valid movie.
  if title
    //- Render the movie!
    h1= title
    h4: em= year
    p= description
    p Character: #{character}
    if wasChoppa
      p There was a choppa, and he got back to it in time
      
  else
    
    //- No movie was found, so just show a helper message
    h1 Ahnold was not in this movie
