/* CORE STYLES */
h1 {
  text-align: center;
}

/* Style the HomeBase */
.home-base {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -50px;
}
.home-base img {
  max-width: 100%;
}

/* Style the targets */
.target {
  width: 100px;
}
.target img {
  max-width: 100%;
}

/* Specific targets */
.target-left {
  float: left;
}

.target-right {
  float: right;
}


/* Style the trucks */
.truck {
  width: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

.truck img {
  max-width: 100%;
}