extends layoutPublic

block content
  h1 Hello demo!

  form(action="/formHandle", method="post")
    input(type="text", name="name", placeholder="Name")
    input(type="text", name="color", placeholder="Color")
    input(type="submit")
