extends layout

block content
	h1 Hello Beers!
	
	form#add-beer
		input.beer-name(type="text", placeholder="Beer Name")
		input.beer-brewer(type="text", placeholder="Beer Brewer")
		input(type="submit")
	
	ul#beer-list
		for beer in beers
			li= beer.name
