/* Hide the template container, they'll
show when we clone them in JS */
.templates {
  display: none;
}

/* Just for visual, my screen is too small */
h1, h2, h3, h4, h5 {margin: 0;}


/* Library styles */
.library {
  margin: 10px;
  border: 2px solid #999;
  padding: 20px;
}

/* Individual book styles */
.book {
  margin: 10px;
  border-left: 2px solid #EEE;
  padding: 10px;
}

/* Rating system */
.rating ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rating li {
  display: inline-block;
}

/* Default the rating system to
all open stars */
.rating li .fa-star {
  display: none;
}

/* When a rating LI is set to active,
it will hide the open star and show the
filled star */
.rating li.active .fa-star {
  display: inline;
}
.rating li.active .fa-star-o {
  display: none;
}