extends layout

block content
  h1= title
  p Welcome to #{title}
  .feedItems
  form(method="POST" action="/post-data")
    input.title-input(name="title")
    input.author-input(name="author")
    input(type="submit" value="submit")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js")
  script(src="/javascripts/utils.js")
  script(src="/javascripts/script.js")
