extends layout

block content
	h1 Hello Movies!
	
	
	//- Add a movie form
	h3 Add a Movie
	form(action="/movieSubmit", method="post")
		input(type="text", name="title", placeholder="Title...")
		input(type="text", name="awards", placeholder="Awards...")
		input(type="submit")
			
		
	//- List all the movies out
	h3 List of Movies
	ul
		for movie in movies
			li
				strong= movie.title
				if movie.awards.length
					p= movie.awards.join(', ')
	
	
	//- UNLESS YOU ARE WORKING WITH CLIENT-SIDE
			CODE, YOU CAN IGNORE THIS!!
			
			This will allow the server to literally
			render the dataset into the HTML of the page.
	script.
		var movies = !{JSON.stringify(movies)};
