extends layout

block content
	h1 Hello Boulder!
	
	button#update-btn Get Counter Value
	
	p#counter
		
		
	h2 Form Time
	form#my-form
		input#my-message(type="text", name="message", placeholder="Message...")
		input(type="submit")
	
	p#message-from-server
