doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title AJAX

	body
		block content
		
		
		//- Pull in jQuery on the client
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		
		//- Pull in client js
		script(src="/main.js")
